<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
    <h1 style="color:#3498db">{{.PartNumber}} 
        <small style="color: royalblue;font-size: 1rem;">{{.Category}}</small>
    </h1>
    <p>{{.Description}}</p>
    <table>
        <tr>
            <th>Manufacturer</th>
            <th>Available Qty</th>
            <th>Ship Date</th>       
            <th style="text-align:right;">Quantity</th>
            <th>Pricing(USD)</th>
        </tr>
        {{range $index, $d := .Details}}
        <tr {{if $d.BorderBottomHighligt}}style="border-bottom: 2px solid rgb(26, 188, 156);"{{end}}>
            <td>{{$d.Manufacturer}}</td>
            <td>{{$d.AvailableQty}}</td>
            <td>{{$d.ShipDate}}</td>
            <td>
                <div style="display:flex;flex-direction:column;text-align:right">{{$d.Quantity}}</div>
            </td>
            <td>
                <div style="display:flex;flex-direction:column">{{$d.Pricing}}</div>
            </td>
        </tr>
        {{end}}
    </table>
    <footer> <a href="/">返回首页</a> </footer>
</body>
</html>
