<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>questcomp</h1>
    <form action="/search" method="POST">
        <input type="text" name="pn" style="width:300px" />
        <button type="submit">Search</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/mithril/mithril.js"></script>
    <script>
        
    </script>
</body>
</html>
